<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>125604572836-mjrh1desvm922mraqca663tudhs5d51m.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.125604572836-mjrh1desvm922mraqca663tudhs5d51m</string>
	<key>API_KEY</key>
	<string>AIzaSyDu3GuGKRfKxLPdiidWLYcjqG7oV895cq8</string>
	<key>GCM_SENDER_ID</key>
	<string>125604572836</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>br.com.thayannemendes.LoginViewCode</string>
	<key>PROJECT_ID</key>
	<string>curso-backfront-viewcode-desc</string>
	<key>STORAGE_BUCKET</key>
	<string>curso-backfront-viewcode-desc.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:125604572836:ios:85ec42a931651ce1a1c031</string>
</dict>
</plist>